<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v-radar">
  <xacro:macro name="radar" params="prefix position:='0 0 0' orientation:='0 0 0'">
    <link name="${prefix}_radar_link">

      <visual name="${prefix}_radar_visual">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://wamv_description/models/radar/model.dae"/>
        </geometry>
      </visual>

      <collision name="${prefix}_radar_collision">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://wamv_description/models/radar/model.dae"/>
        </geometry>
      </collision>

     <inertial>
         <origin xyz="0 0 0.5" rpy="0 0 0"/>
         <mass value="1"/>
         <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
      </inertial>

    </link>
	

    <joint name ="${prefix}_chasis_radar_joint" type="fixed">
      <origin xyz="${position}" rpy="${orientation}"/>
      <parent link="base_link"/>
      <child link="${prefix}_radar_link"/>
    </joint>

<gazebo reference="${prefix}_radar_link">

<sensor type="ray" name="range">
	<update_rate>10</update_rate>
	<visualize>true</visualize>
	<ray>
	  <scan>
	    <horizontal>
	      <samples>10</samples>
	      <resolution>1</resolution>
	      <min_angle>-0.7</min_angle>
	      <max_angle>0.7</max_angle>
	    </horizontal>
	  </scan>
	  <range>
	    <min>1</min> <!-- do not change (smaller values cause issues) -->
	    <max>35</max>   <!-- do not change (bigger values cause issues) -->
	    <resolution>0.01</resolution>
	  </range>
	</ray>
	<plugin name="range" filename="libainstein_radar_gazebo_plugins.so">
	  <alwaysOn>true</alwaysOn>
	  <updateRate>10</updateRate>
	  <frameName>${prefix}_radar_link</frameName>
	</plugin>
    </sensor>

</gazebo>

  </xacro:macro>
</robot>
